.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

}

.todo__subtext {
  color: #999;
  font-size: .6rem;
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}

.delete-button {
  border-left: 1px solid $light-grey-border;
  height: 100%;

  &:hover {
    background: $delete-background-color;
  }
}
